<div>

  <div style="display:none;">
    <div ng-repeat="comment in post.comments" class="comment">
      <div class="row">
        <div class="col-sm-offset-1 col-xs-1">
          <img ng-src="{{ getAvatar(comment.author, 'S') }}" class="img-circle" width="32px" height="32px">
        </div>
        <div class="col-xs-10">
          <div>
            <a href="/#/@{{comment.author.loginName}}"><strong>{{comment.author.displayName}}</strong></a>
            <span class="post-date">{{ comment.creationTimestamp | timeDistance : locale }}</span>
          </div>
          <div ng-bind-html="comment.content | hashtagger"></div>
        </div>
      </div>
    </div>

    <div class="row" ng-show="isUserLoggeIn()">
      <form ng-submit="addComment(post)" class="col-sm-offset-1 col-xs-11">
        <div class="form-group">
          <textarea id="new-comment-text" class="form-control" placeholder="{{ 'text' | translate }}" ng-model="post.newComment"></textarea>
        </div>
        <div class="form-group clearfix">
          <button class="btn btn-default pull-right">{{ 'send' | translate }}</button>
        </div>
      </form>
    </div>

  </div>

  <a class="pull-left" ng-click="toggleComments(post, $event)" href="#">
    <span class="glyphicon glyphicon-comment" aria-hidden="true" style="vertical-align:middle"></span>
    <span translate="comments{{translationSufix(post.comments.length)}}" translate-values="{ value: post.comments.length }" ></span>
  </a>

</div>
