<div style="display: none;" class="comment-block">
    <div ng-repeat="comment in post._embedded.comments" class="comment">
      <div class="row">
        <div class="col-xs-1">
          <img ng-src="{{ getAvatar(comment.author, 'S') }}" class="img-circle" width="32px" height="32px">
        </div>
        <div class="col-xs-11">
          <div>
            <a href="/#/@{{ comment.author.loginName }}">
              <strong>{{ comment.author.displayName }}</strong>
              <span class="author-login">@{{ post.author.loginName }}</span>
            </a>
            <span class="date">{{ comment.creationTimestamp | timeDistance : locale }}</span>
            <span class="glyphicon glyphicon-remove pull-right remove-comment-btn"
            ng-show="comment._links.delete" ng-click="deleteComment(post, comment.id, $index, $event)"></span>
          </div>
          <div ng-bind-html="comment.content | hashtagger"></div>
        </div>
      </div>
    </div>
    <div ng-show="isUserLoggeIn()">
        <div class="row comment">
          <div class="col-xs-1">
             <img ng-src="{{ getAvatarUrl() }}" class="img-circle" width="32px" height="32px">
          </div>
          <div class="col-xs-11">
            <form>
              <div class="input-group">
                <textarea id="new-comment-text" class="form-control custom-control" placeholder="{{ 'text' | translate }}" ng-model="post.newComment" rows="2" style="resize:none"></textarea>
                <span ng-click="addComment(post)" class="input-group-addon btn btn-primary">{{ 'send' | translate }}</span>
              </div>
            </form>
          </div>
        </div>
    </div>
</div>
