<div class="navbar navbar-default navbar-static-top" ng-controller='NavigationController'>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-xs-12">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#">Задовбало</a>
			    </div>
				<ul class="nav navbar-nav navbar-right collapse navbar-collapse">
					<li><a href="#/">{{ 'latest' | translate }}</a></li>
					<li ng-hide="isUserLoggeIn()"><a href="#/signup">{{ 'join' | translate }}</a></li>
					<li ng-show="isUserLoggeIn()"><a ng-click="logout($event)" href="#/">{{ 'logout' | translate }}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
