<div style="display: none;" class="post-rating-block">
<div ng-repeat="rating in post._embedded.ratings._embedded.ratings" class="comment">
    <div class="row">
      <div class="col-xs-2">
        <img ng-src="{{ getAvatar(rating._embedded.user, 'S') }}" class="img-circle" width="32px" height="32px">
      </div>
      <div class="col-xs-10">
        <div>
          <a href="/#/@{{ rating._embedded.user.displayName }}"><strong>{{ rating._embedded.user.displayName }}</strong></a>
          <span class="date">{{ rating.creationTimestamp | timeDistance : locale }}</span>
        </div>
        <div>{{ rating.value }}</div>
      </div>
    </div>
</div>
</div>
