<div ng-controller="PostsController">

			<form ng-submit="addPost(posts)">
				<div class="form-group">
					<textarea id="new-post-text" class="form-control" placeholder="{{ 'text' | translate }}" ng-model="newPost"></textarea>
				</div>
				<div class="form-group clearfix">
					<button class="btn btn-default pull-right">{{ 'send' | translate }}</button>
				</div>
			</form>

			<div class="panel panel-default" ng-repeat="post in posts">
				<div class="panel-heading">
					<img ng-src="{{post.author.photo}}?size=small" class="img-circle" alt="Circular Image">
					<strong>{{post.author.displayName}}</strong>&nbsp;<span class="post-date">{{ post.creationTimestamp | date:'mediumDate' }}</span>
				</div>
				<div class="panel-body post-content">{{post.content}}</div>
				<div class="panel-footer clearfix">
					<div class="pull-left">
						<a href="#/post/{{post.id}}"><span class="glyphicon glyphicon-comment" aria-hidden="true" style="vertical-align:middle"></span>&nbsp;{{ post.commentsCount }}&nbsp;{{ 'comments' | translate }}</a>
					</div>
					<div class="pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle post-menu-button" data-toggle="dropdown" aria-expanded="false">...
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li><a href="#/post/{{post.id}}">{{ 'view.post.page' | translate }}</a></li>
								<li><a href="#" ng-click="deletePost(post.id, $index, $event)" style="color: red;">{{ 'delete.post' | translate }}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-offset-4 col-sm-4 col-xs-12">
					<button type="button" class="btn btn-md btn-default btn-block" ng-show="postsCount > posts.length" ng-click="loadPosts()">{{ 'load.more.posts' | translate }}</button>
				</div>
			</div>
</div>
