<div class="panel panel-default">
	<div class="panel-heading">
  	<h3 class="panel-title">{{ 'join.zaibalo.today' | translate }}</h3>
	</div>
	<div class="panel-body">
    <div class="row">
      <div class="col-xs-5">
        <span>{{ 'safe.some.typing' | translate }}</span>
				<google-sign-in></google-sign-in>
				<fb:login-button show-faces="true" max-rows="1"  size="large"></fb:login-button>
        <span>{{ 'we.hate.spam.in.social' | translate }}</span>
      </div>
      <div class="col-md-offset-2 col-xs-5">
      	<form accept-charset="UTF-8" role="form">
          <fieldset>
        	  <div class="form-group">
        		  <input ng-model="user.loginName" class="form-control" placeholder="{{ 'username' | translate }}" name="login" type="text" aria-describedby="helpBlock">
              <span id="helpBlock" class="help-block">{{ 'used.for.login' | translate }}</span>
        		</div>
        		<div class="form-group">
        		  <input ng-hide="showPassword" ng-model="user.password" class="form-control" placeholder="{{ 'password' | translate }}" name="password" type="password" value="">
              <input ng-show="showPassword" ng-model="user.password" class="form-control" placeholder="{{ 'password' | translate }}" name="password-unhidden" type="text" value="">
        		</div>
            <div class="checkbox">
              <label>
                <input ng-model="showPassword" type="checkbox" name="unhide-password">{{ 'unhide.password' | translate}}
              </label>
            </div>
            <div class="form-group">
        		  <input ng-click="registerUser(user)" class="btn btn-md btn-success btn-block" type="submit" value="{{ 'signup' | translate }}">
							<input ng-click="login(user)" class="btn btn-md btn-success btn-block" type="submit" value="{{ 'login' | translate }}">
            </div>
      	  </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
