<div>
  <div ng-hide="post">
    <div class="alert alert-warning" role="alert">{{ 'post.does.not.exist' | translate }}</div>
  </div>
  <div class="panel panel-default" ng-show="post">
    <div class="panel-heading clearfix">
      <div class="pull-right">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle post-menu-button" data-toggle="dropdown" aria-expanded="false">...
          </button>
          <ul class="dropdown-menu pull-right" role="menu">
            <li ng-show="post._links.self"><a href="#/post/{{ post.id }}">{{ 'view.post.page' | translate }}</a></li>
			<li>
			  <a href="#" ng-click="shareOnFacebook(post, $event)">{{ 'share' | translate }}</a>
            </li>
            <li ng-show="post._links.delete">
              <a href="#" ng-click="deletePost(post, $index, $event)" class="warning">{{ 'delete.post' | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div>
		<img ng-src="{{ getAvatar(post._embedded.author, 'S') }}" class="img-circle" width="32px" height="32px">
		<a href="/#/@{{post._embedded.author.loginName}}">
          <strong>{{post._embedded.author.displayName}}</strong>
          <span class="author-login">@{{ post._embedded.author.loginName }}</span>
        </a>
        <span class="date">{{ post.creationTimestamp | timeDistance : locale }}</span>
      </div>
    </div>
    <div class="panel-body">
      <div ng-repeat="attachment in post.attachments">
        <img ng-src="{{ attachment.url }}" class="center">
      </div>
      <div class="post-content" ng-bind-html="post.content | hashtagger"></div>
    </div>
    <div class="panel-footer clearfix comment-rating-block">
      <post-ratings></post-ratings>
      <comments></comments>
      <div class="row">
        <div class="col-xs-4">
          <a ng-click="toggleComments(post, $event)" href="#">
            <span class="glyphicon glyphicon-comment" aria-hidden="true" style="vertical-align:middle"></span>
            <span translate="comments{{ translationSufix(post._embedded.comments.length ? post._embedded.comments.length : 0 ) }}"
                  translate-values="{ value: post._embedded.comments.length ? post._embedded.comments.length : 0 }" ></span>
          </a>
        </div>
        <div class="col-xs-offset-4 col-xs-4">
          <div class="pull-right">
            <a ng-show="post._embedded.ratings._links.ratePostDown" ng-click="ratePostDown(post, $event)" href="#">
              <span class="glyphicon glyphicon-thumbs-down"></span>
            </a>
            <a ng-click="toggleRatings(post, $event)" href="#">
              <span>{{ 'rating.colon' | translate }} {{ post._embedded.ratings.ratingSum }} ({{ post._embedded.ratings.ratingCount }})</span>
            </a>
            <a ng-show="post._embedded.ratings._links.ratePostUp" ng-click="ratePostUp(post, $event)" href="#">
              <span class="glyphicon glyphicon-thumbs-up"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
