<div>
  <div ng-hide="post">
    <div class="alert alert-warning" role="alert">{{ 'post.does.not.exist' | translate }}</div>
  </div>
  <div class="panel panel-default" ng-show="post">
    <div class="panel-heading clearfix">
      <div class="pull-right">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle post-menu-button" data-toggle="dropdown" aria-expanded="false">...
          </button>
          <ul class="dropdown-menu pull-right" role="menu">
            <li ng-show="post._links.self"><a href="#/post/{{ post.id }}">{{ 'view.post.page' | translate }}</a></li>
            <li ng-show="post._links.delete">
              <a href="#" ng-click="deletePost(post, $index, $event)" class="warning">{{ 'delete.post' | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <img ng-src="{{ getAvatar(post.author, 'S') }}" class="img-circle" width="32px" height="32px">
        <a href="/#/@{{post.author.loginName}}"><strong>{{post.author.displayName}}</strong></a>
        <span class="post-date">{{ post.creationTimestamp | timeDistance : locale }}</span>
      </div>
    </div>
    <div class="panel-body">
      <div ng-repeat="attachment in post.attachments">
        <img ng-src="{{ attachment.url }}" class="center">
      </div>
      <div class="post-content" ng-bind-html="post.content | hashtagger"></div>
    </div>
    <div class="panel-footer clearfix comment-rating-block">
      <post-ratings></post-ratings>
      <comments></comments>
      <div class="row">
        <div class="col-xs-6">
          <a ng-click="toggleComments(post, $event)" href="#">
            <span class="glyphicon glyphicon-comment" aria-hidden="true" style="vertical-align:middle"></span>
            <span translate="comments{{ translationSufix(post._embedded.comments.length) }}" translate-values="{ value: post._embedded.comments.length }" ></span>
          </a>
        </div>
        <div class="col-xs-6">
          <a ng-click="toggleRatings(post, $event)" href="#" class="pull-right">
            <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
            <span>{{ 'rating.colon' | translate }} {{ post.ratingSum }} ({{ post.ratingCount }})</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
