<div ng-hide="user">
	<div class="alert alert-warning" role="alert">{{ 'user.does.not.exist' | translate }}</div>
</div>
<div class="jumbotron" ng-show="user">
	<div class="row">
		<div class="col-sm-3 col-xs-5">
			<div class="panel-body">
				<img ng-src="{{ getAvatar(user, 'M') }}" width="100px" height="100px"
					class="img-circle" alt="Circular Image">
			</div>
		</div>
		<div class="col-sm-9 col-xs-7">
				<div class="user-info-row user-info-disp-name">
					<a ng-show="user._links.editUser" href="#" editable-text="user.displayName">{{ user.displayName || empty }}</a>
					<span ng-hide="user._links.editUser">{{ user.displayName || empty }}</span>
				</div>
				<div class="user-info-row user-info-about">{{ user.about }}</div>
				<div class="clearfix visible-xs-block"></div>
				<div class="user-info-row hidden-xs">
                    <span translate="posts{{ translationSufix(user.postsCount) }}"
                          translate-values="{ value: user.postsCount }" ></span>
                    <span translate="comments{{ translationSufix(user.commentsCount) }}"
                          translate-values="{ value: user.commentsCount }" ></span>
				</div>
		</div>
	</div>
</div>
<ng-include src="'partials/posts.html'" ng-show="user"></ng-include>
