#{extends 'main.html'/} 
#{set 'moreScripts'} 
	#{script 'angular.min.js' /}
	#{script 'main-module.js' /}
	#{script 'jquery-ajax-security.js' /}
	#{script 'jquery-ajax-lib.js' /}
#{/set}
<div ng-app="zaibaloApp">
		<div ng-controller="PostsController as postsCtrl">
			<h2>&{'add.post'}</h2>
			
			<form ng-submit="postsCtrl.addPost(postsCtrl.posts)">
				<textarea id="new-post-text" value="" placeholder="&{'text'}" ng-model="postsCtrl.newPost.content"></textarea>
				<button class="btn">&{'post'}</button>
			</form>
			
			<h2>&{'latest.posts'}</h2>
			<div class="row">
				<div class="post col-md-4 col-sm-6 col-xs-12" ng-hide="postsCtrl.newPost">
					<strong>{{postsCtrl.newPost.author.displayName}}</strong> on {{postsCtrl.newPost.creationTimestamp | date: dd/mm/yyyy}}
					<p class="well well-sm">{{postsCtrl.newPost.content}}</p>
				</div>
			</div>
			<div class="row">
				<div class="post col-md-4 col-sm-6 col-xs-12" ng-repeat="post in postsCtrl.posts">
					<strong>{{post.author.displayName}}</strong> on {{post.creationTimestamp | date: dd/mm/yyyy}}
					<p class="well well-sm">{{post.content}}</p>
				</div>
			</div>
			
			<a href="#" data-bind="click: loadMorePosts">Load more posts</span></a>
		</div>
</div>