#{extends 'main.html'/} 
#{set 'moreScripts'} 
	#{script 'angular.min.js' /}
	#{script 'main-module.js' /}
	#{script 'jquery-ajax-security.js' /}
	#{script 'jquery-ajax-lib.js' /}
#{/set}
<div ng-app="zaibaloApp">
		<div ng-controller="PostsController as postsCtrl">
			<h2>&{'add.post'}</h2>
			
			<form ng-submit="postsCtrl.addPost(postsCtrl.posts)">
				<div class="form-group">
					<textarea id="new-post-text" class="form-control" placeholder="&{'text'}" ng-model="postsCtrl.newPost.content"></textarea>
				</div>
				<div class="form-group clearfix">
					<button class="btn btn-default pull-right">&{'post'}</button>
				</div>
			</form>
			
			<h2>&{'latest.posts'}</h2>
			<div class="row">
				<div class="post" ng-repeat="post in postsCtrl.posts">
					<span class="col-sm-2 col-xs-12"><strong>{{post.author.displayName}}</strong> on {{post.creationTimestamp | date: dd/mm/yyyy}}</span>
					<div class="post-content col-sm-10 col-xs-12 well well-sm">{{post.content}}</div>
				</div>
			</div>
			<a data-bind="click: loadMorePosts">Load more posts</a>
		</div>
</div>