#{extends 'main.html'/}

#{set 'moreScripts'}
	#{script 'knockout-3.2.0.js' /}
	#{script 'jquery.cookie-1.4.1.js' /}
	#{script 'posts.js' /}
#{/set}

<form class="form-inline" data-bind="visible: shouldShowLogin">
	<input type="text" id="username" class="input-small" placeholder="Login">
	<input type="password" id="password" class="input-small" placeholder="Password">
	<button data-bind="click: login" class="btn btn-success">Sign in</button>
</form>

<h2>Your posts</h2>

<table>
    <thead>
    	<tr>
        	<th>Author name</th>
        	<th>Text</th>
   		</tr>
   	</thead>
    <tbody data-bind="foreach: posts">
	    <tr>
	        <td data-bind="text: author.displayName"></td>
	        <td data-bind="text: content"></td>
	    </tr> 
	</tbody>
</table>

<h2>Add post</h2>
Author: <span data-bind="text: authUserName"></span>
<label for="new-post-text">Text</label>
<input id="new-post-text" value="" />

<button data-bind="click: addPost">Post</button>