body {
	font-size: 16px;
}

a:hover, a:visited, a:link, a:active
{
		text-decoration: none;
		cursor: pointer;
}

.footer {
	height: 60px;
	background-color: #f5f5f5;
}

.footer .text-muted {
	margin: 20px 0;
}

.post-content {
	white-space: pre-line;
}

.post-header {
	margin-bottom: 5px;
}

.post-date {
	color: #666;
	font-size: 12px;
}

.post-menu-button {
	font-weight: bold;
	font-size: 16px;
	padding: 0px 8px 7px 8px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
		width: 100%;
}

.comment{
	padding: 5px 0px 5px 30px;
}

.tab-pane {
	margin-top: 15px;
	min-height: 206px;
}

.remove-comment-btn {
	padding-top: 3px;
	color: #999;
	cursor: pointer;
}

.comment .remove-comment-btn {
	opacity: 0.3;
}

.comment:hover .remove-comment-btn {
	opacity: 1.0;
}

.warning {
	color: red !important;
}

.navbar {
	background-color: #555555;
}

.logo {
	height: 60px;
	padding: 5px 0px;
}

.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
	padding-top: 20px;
}

.navbar {
  margin-top: 2px;
}

.user-info-stat {
  padding-right: 10px;
}

.user-info-row {
  padding-bottom: 10px;
}

.user-info-disp-name {
  font-size: 34px;
}

.user-info-about {
  font-weight: bold;
}
