<!DOCTYPE html>

<html ng-app="myApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>&{'title'}</title>
        <link rel="stylesheet" type="text/css" href="@{'/public/app/lib/bootstrap-3.3.2/css/bootstrap.min.css'}" charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/app/css/app.css'}">
    </head>
    <body>
        <div>
            <input type="file" id="avatar">
        </div>

        <script src="@{'/public/app/lib/jquery/jquery-1.11.2.min.js'}"></script>
        <script src="@{'/public/app/lib/bootstrap-3.3.2/js/bootstrap.min.js'}"></script>
        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
        -->
        <script src="@{'/public/app/lib/angular/angular.js'}"></script>
        <script src="@{'/public/app/js/app.js'}"></script>
        <script src="@{'/public/app/js/services.js'}"></script>
        <script src="@{'/public/app/js/controllers.js'}"></script>
        <script src="@{'/public/app/js/filters.js'}"></script>
        <script src="@{'/public/app/js/directives.js'}"></script>
        <script src="@{'/public/app/lib/encryption/sha.js'}"></script>
        <script src="@{'/public/app/lib/encryption/md5.js'}"></script><!-- use sha for password hashing also? -->
        <script src="@{'/public/app/lib/jquery/jquery.cookie.js'}"></script>
        <script src="@{'/public/app/lib/avatars.io/avatars.io.min.js'}"></script>
        <script src="@{'/public/app/js/security-shared.js'}"></script>
        <!-- get rid of jquery ajax calls some time -->
        <script src="@{'/public/app/lib/jquery/jquery-ajax-security.js'}"></script>
        <script src="@{'/public/app/lib/jquery/jquery-ajax-lib.js'}"></script>
        <!--  -->
        <script src="@{'/public/app/js/login-popup.js'}"></script>

        <script>
        var client = new AvatarsIO('eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJwcml2YXRlX3Rva2VuIjoiZmZlOWQ2MzY5NjEwZDQ5YWEwMzM4MTJiZThkZWQ3ZDFjMzQ2OTY3NzQwNjFiMTY2ODAzMjdiMTc5ZDFkNWU3YiJ9.WFRUHk_uYIorZ7-mxO2xakXTFeWWkPEwHF_ZG-OPRsM'); // obtain at http://avatars.io/
        
        $(function(){
            var uploader = client.create('#avatar'); // selector for input[type="file"] field, here #avatar, for example
            uploader.setAllowedExtensions(['png', 'jpg']); // optional, defaults to png, gif, jpg, jpeg
            uploader.on('complete', function(url){
                var json = JSON.stringify({ photo : url });
                $.put('/users/1', json, function(data) {
                    alert(JSON.parse(data));
                }, 'json');
            });
        });
        </script>
    </body>
</html>