<!DOCTYPE html>

<html ng-app="myApp">
    <head>
        <meta charset="${_response_encoding}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>&{'title'}</title>
        <link rel="stylesheet" type="text/css" href="@{'/public/app/lib/bootstrap-3.3.2/css/bootstrap.min.css'}" charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/app/css/app.css'}">
    </head>
    <body>
	
<form class="form-horizontal" id="testForm">
	<div class="control-group">
		<label class="control-label">User operations:</label>
		<div class="controls">
			<button 
				class="btn operation" 
				id="create-user"
				data-url="/users" 
				data-method="POST" 
				data-body="{'loginName':'test','password':'secret','displayName':'Superman','email':'super@man.com','photo':'http:\/\/avatars.io\/16XTmzfwia'}">Create user</button>
			<button class="btn operation" data-url="/users/1" data-method="GET" id="get-user">Get user</button>
			<button 
				class="btn operation" 
				id="edit-user"
				data-url="/users/1" 
				data-method="PUT"
				data-body="{'loginName':'test','password':'secret','displayName':'Superman','email':'super@man.com'}" >Edit user</button> 
			<button class="btn operation" data-url="/users/1" data-method="DELETE" id="delete-user">Delete user</button>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Authentication operations:</label>
		<div class="controls">
			<button 
				class="btn operation" 
				id="login"
				data-url="/login" 
				data-method="POST" 
				data-body="{'username':'test', 'password':'secret'}">Login</button>
			<button class="btn operation" data-url="/logout" data-method="POST" id="logout">Logout</button>
		</div>
	</div>
		<div class="control-group">
		<label class="control-label">Post operations:</label>
		<div class="controls">
			<button class="btn operation" data-url="/posts" data-method="POST" data-body="{'content':'test content'}" id="create-post">Create post</button>
			<button class="btn operation" data-url="/posts/1" data-method="GET" id="get-post">Get post</button>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="url" >URL</label>
		<div class="controls">
			<input type="text" value="" name="url" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="param-name" >Authentication token</label>
		<div class="controls">
			<input type="text" value="" name="header-value" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="body" >Request body</label>
		<div class="controls">
			<textarea name="body" ></textarea>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<select name="method">
				<option>GET</option>
				<option>POST</option>
				<option>PUT</option>
				<option>DELETE</option>
			</select>
			<button type="submit" class="btn">Send</button>
		</div>
	</div>
</form>

<div id="response"></div>

        <script src="@{'/public/app/lib/jquery/jquery-1.11.2.min.js'}"></script>
        <script src="@{'/public/app/lib/bootstrap-3.3.2/js/bootstrap.min.js'}"></script>
        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
        -->
        <script src="@{'/public/app/lib/angular/angular.js'}"></script>
        <script src="@{'/public/app/js/app.js'}"></script>
        <script src="@{'/public/app/js/services.js'}"></script>
        <script src="@{'/public/app/js/controllers.js'}"></script>
        <script src="@{'/public/app/js/filters.js'}"></script>
        <script src="@{'/public/app/js/directives.js'}"></script>
		<script src="@{'/public/app/js/client.js'}"></script>
        <script src="@{'/public/app/lib/encryption/sha.js'}"></script>
        <script src="@{'/public/app/lib/encryption/md5.js'}"></script><!-- use sha for password hashing also? -->
        <script src="@{'/public/app/lib/jquery/jquery.cookie.js'}"></script>
        <script src="@{'/public/app/js/security-shared.js'}"></script>
        <!-- get rid of jquery ajax calls some time -->
        <script src="@{'/public/app/lib/jquery/jquery-ajax-security.js'}"></script>
        <script src="@{'/public/app/lib/jquery/jquery-ajax-lib.js'}"></script>
        <!--  -->
        <script src="@{'/public/app/js/login-popup.js'}"></script>
    </body>
</html>