<!DOCTYPE html>

<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Заїбало...</title>
        <link rel="stylesheet" type="text/css" href="@{'/public/app/lib/bootstrap-3.3.2/css/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/app/css/app.css'}">
    </head>

    <body>

        <navigation-bar></navigation-bar>

    		<div class="container">
          <div class="row">
            <div class="col-md-offset-2 col-md-8 col-xs-12" ng-view></div>
          </div>
    		</div>

        <footer class="footer">
              <div class="container">
                <button class="btn btn-xs text-muted pull-right" ng-click="toggleLanguage()" translate="switch"></button>
              </div>
        </footer>

        <login-popup></login-popup>

        <script src="@{'/public/app/lib/jquery/jquery-1.11.2.js'}"></script>
        <script src="@{'/public/app/lib/bootstrap-3.3.2/js/bootstrap.js'}"></script>
        <script src="@{'/public/app/lib/angular/angular.js'}"></script>
        <script src="@{'/public/app/lib/angular/i18n/angular-locale_uk-ua.js'}"></script>
        <script src="@{'/public/app/lib/angular/angular-sanitize.js'}"></script>
        <script src="@{'/public/app/lib/angular/angular-translate.js'}"></script>
        <script src="@{'/public/app/lib/angular/angular-translate-loader-static-files.js'}"></script>
        <script src="@{'/public/app/lib/angular/angular-bd.timedistance/bd.timedistance.js'}"></script>
        <!-- get rid of jquery ajax calls some time -->
        <script src="@{'/public/app/lib/jquery/jquery-ajax-security.js'}"></script>
        <script src="@{'/public/app/lib/jquery/jquery-ajax-lib.js'}"></script>
        <!--  -->
        <script src="@{'/public/app/lib/encryption/sha.js'}"></script>
        <!-- use sha for password hashing also? -->
        <script src="@{'/public/app/lib/encryption/md5.js'}"></script>
        <!-- -->
        <script src="@{'/public/app/lib/jquery/jquery.cookie.js'}"></script>
        <script src="@{'/public/app/lib/avatars.io/avatars.io.min.js'}"></script>

        <script src="@{'/public/app/js/app.js'}"></script>
        <script src="@{'/public/app/js/services.js'}"></script>
        <script src="@{'/public/app/js/controllers/navigation.js'}"></script>
        <script src="@{'/public/app/js/controllers/index.js'}"></script>
        <script src="@{'/public/app/js/controllers/posts.js'}"></script>
        <script src="@{'/public/app/js/controllers/comments.js'}"></script>
        <script src="@{'/public/app/js/controllers/user.js'}"></script>
        <script src="@{'/public/app/js/filters.js'}"></script>
        <script src="@{'/public/app/js/directives.js'}"></script>
        <script src="@{'/public/app/js/security-shared.js'}"></script>
        <script src="@{'/public/app/js/login-popup.js'}"></script>

    </body>
</html>
