<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>&{'title'}</title>
	#{script 'jquery-1.11.2.min.js' /}
	<script type="text/javascript" language="javascript" src="/public/bootstrap-3.3.2/js/bootstrap.min.js"></script>
	#{script 'sha.js' /}
	#{script 'md5.js' /}
	#{script 'jquery.cookie.js' /}
	#{script 'security-shared.js' /}
	#{get 'moreScripts' /}

	<link rel="stylesheet" type="text/css" href="/public/bootstrap-3.3.2/css/bootstrap.min.css" charset="utf-8">
	#{stylesheet 'main.css' /}
	#{get 'moreStyles' /}
</head>

<body>
	<div class="navbar navbar-default navbar-static-top">
		<div class='container'>
			<div class="navbar-header">
				<a href="index.html" class='navbar-brand'>Zaibalo</a>
				<button type="button" class="navbar-toggle"
					data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<ul class="nav navbar-nav navbar-right collapse navbar-collapse">
			    <li><a href="tickets.html">Add post</a></li>
			    <li><a href="stations.html">Profile</a></li>
			    <li><a href="about.html">About</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		#{doLayout /}
	</div>
	#{login_popup /}
</body>
</html>
