<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<title>Zaibalo API</title>
	#{script 'jquery-1.7.js' /}
	#{script 'bootstrap.min.js' /}
	#{script 'knockout-3.2.0.js' /}
	#{script 'ko.editable-0.0.15.js' /}
	#{script 'jso.js' /}
	#{script 'security.js' /}
	#{script 'main.js' /}
	#{get 'moreScripts' /}

	#{stylesheet 'bootstrap.min.css' /}
	#{stylesheet 'main.css' /}
	#{get 'moreStyles' /}
</head>

<body>
	<button onclick="javascript:login();" >Login</button>
	<button onclick="javascript:userInfo();" >Get user info</button>
	<div class="container">
		#{doLayout /}
	</div>
</body>
</html>
